@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --black: #333;
    --white: #fff; 
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}
header.sticky {
    padding: 10px 100px;
}
.logo {
    position: relative;
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.menu-toggle {
    position: relative;
    width: 30px;
    height: 30px;
    background: url('../assets/menu-outline.svg');
    cursor: pointer;
}
.menu-toggle.active {
    background: url('../assets/close-outline.svg');
}
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.navigation.active {
    opacity: 1;
    visibility: visible;
}
.navigation li {
    list-style-type: none;
    margin: 10px 0;
}
.navigation li a {
    color: var(--black);
    font-size: 1.2rem;
    letter-spacing: 4px;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
}
section {
    position: relative;
    padding: 100px;
    width: 100%;
    min-height: 100vh;
    background: var(--white);
}
.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .contentBox {
    position: relative;
    z-index: 1;
    background: var(--white);
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner .contentBox h2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--black);
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.banner .contentBox h4 {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
}
.btn {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 20px;
    border: 2px solid var(--black);
    text-decoration: none;
    color: var(--black);
    background: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.25s;
}
.btn:hover {
    color: var(--white);
    background: var(--black);
}
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title h2 {
    position: relative;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--black);
}
.title p {
    margin-top: 40px;
    max-width: 700px;
    text-align: center;
}
.title h2:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    width: 40px;
    height: 6px;
    border-radius: 10px;
    background: var(--black);
}
p {
    color: var(--black);
    font-weight: 300;
    text-align: justify;
}
.about .contentBox {
    position: relative;
    margin-top: 40px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
}
.about .contentBox .content{
    position: relative;
}
.about .contentBox .content .imgBox{
    min-height: 400px;
}
.post {
    position: relative;
}
.post .contentBox {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}
.post .contentBox .postColumn {
    position: relative;
}
.post .contentBox .postColumn .postBox {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 20px;
}
.post .contentBox .postColumn .postBox.extraHeight {
    height: 800px;
}
.post .contentBox .postColumn .postBox .textBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    transition: 0.25s;
    opacity: 0;
    visibility: hidden;
}
.post .contentBox .postColumn .postBox:hover .textBox {
    opacity: 0.9;
    visibility: visible;
    cursor: pointer;
}
.post .contentBox .postColumn .postBox .textBox h3 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--black);
}
.post .contentBox .postColumn .postBox .textBox .btn {
    padding: 4px 10px;
    font-weight: 400;
    font-size: 1rem;
    background: var(--black);
    color: var(--white);
}
.mgt60 {
    margin-top: 60px;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .contactForm {
    position: relative;
    width: 100%;
    height: 700px;
    max-width: 700px;
    margin-top: 20px;

}
.contact .contactForm .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}
.contact .contactForm .row input,
.contact .contactForm .row2 textarea  {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--black);
    color: var(--black);
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
::placeholder {
    color: var(--black);
}
.contact .contactForm .row2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.contact .contactForm .row2 textarea {
    height: 200px;
}
.contact .contactForm .row2  input[type="submit"] {
    cursor: pointer;
}
/* footer */
footer {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f8f8;
    border-top: 1px solid rgba(0, 0, 0, 0.5);

}
footer .footerMenu {
    list-style-type: none;
    margin: 20px;
}
footer .footerMenu li a{
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}
.copyright {
    color: var(--black);
    letter-spacing: 1px;
}

/* Media Query */
@media (max-width: 991px) {
    header {
        padding: 20px 30px;
    }
    header.sticky {
        padding: 20px 30px;
    }
    section {
        padding: 20px;
    }
    .banner .contentBox {
        padding: 40px 30px;
    }
    .about .contentBox {
        grid-template-columns: 1fr;
    }
    .post .contentBox {
        grid-template-columns: 1fr;
    }
    .contact .contactForm .row {
        grid-template-columns: repeat(1, 1fr);
    }
    footer {
        flex-direction: column;
    }
    footer .footerMenu {
        display: flex;
        gap: 20px;
    }
    .copyright {
     font-size: 0.8rem;   
    }
}